
<div class="ci-header">
  Displaying <%= @conditions.count %> conditions
</div>
<div class="conditions-index">
  <% @conditions.each do |condition| %>
    <div>
      <%= link_to condition_path(condition) do%>
      <div class="index-condition">
        <%= condition.readable_date %>
        <%= condition.max_temp_f %>
        <%= condition.mean_temp_f %>
        <%= condition.min_temp_f %>
        <%= condition.mean_humidity %>
        <%= condition.mean_visibility_miles %>
        <%= condition.mean_wind_speed %>
        <%= condition.precipitation_inches %>
        <%= link_to "Delete",   admin_condition_path(condition), method: "delete"  if current_admin? %>
        <%= link_to "Edit", edit_admin_condition_path(condition) if current_admin? %>
      </div>
      <% end %>
    </div>
  <% end %>
</div>
