
<div class="index-header">
  Displaying <%= @conditions.count %> conditions
</div>
<div class="conditions-index">
  <% @conditions.each do |condition| %>
    <div>
      <%= link_to condition_path(condition) do%>
      <div class="index-condition">
        <div><%= condition.readable_date %></div>
          <ul>
            <li>Highest Temperature: <div><%= condition.max_temp_f %>° F</div></li>
            <li>Average Temperature: <div><%= condition.mean_temp_f %>° F</div></li>
            <li>Lowest Temperature: <div><%= condition.min_temp_f %>° F</div></li>
            <li>Average Humidity: <div><%= condition.mean_humidity.to_i %>%</div></li>
            <li>Visibility: <div><%= condition.mean_visibility_miles %> mi</div></li>
            <li>Average Wind Speed: <div><%= condition.mean_wind_speed.to_i %></div>mph</li>
            <li>Precipitation: <div><%= condition.precipitation_inches %> in</div></li>
          </ul>
        <% if current_admin? %>
          <div class="modify">
            <%= link_to "Delete",   admin_condition_path(condition), method: "delete" %>
            <%= link_to "Edit", edit_admin_condition_path(condition) if current_admin? %>
          </div>
        <% end %>
      </div>
      <% end %>
    </div>
  <% end %>
</div>
