<h1 class="index-header">Trip Analytics</h1>
<div class="trips-dashboard">
  <div class="trip-records">
    <h3>Records:</h3>
    <div><strong>Longest Trip:</strong> <%= Trip.longest_ride.formatted_duration %></div>
    <div><strong>Shortest Trip:</strong> <%= Trip.shortest_ride.formatted_duration %></div>
    <div><strong>Most trips started at</strong> <%= Trip.most_starting_station.name %> in <%= Trip.most_starting_station.city %></div>
    <div><strong>Most trips ended at</strong> <%= Trip.most_ending_station.name %> in <%= Trip.most_ending_station.city %></div>
    <div><strong>The most ridden bike</strong> #<%= Trip.most_ridden_bike.bike_id %>, with <%= Trip.most_ridden_bike.trip_count %> rides.</div>
    <div><strong>The least ridden bike:</strong> #<%= Trip.least_ridden_bike.bike_id %>, with <%= Trip.least_ridden_bike.trip_count %> rides.</div>
    <div><strong>Most Trips Ever:</strong> <%= Trip.most_popular_date %></div>
    <div><strong>Most Rides Ever:</strong> <%= Trip.least_popular_date %></div>
  </div>
  <div class="averages">
    <h3>Averages</h3>
    <div>Average Trip Duration: <%= Trip.avg_ride_duration.round %></div>

    <div class="trip-weather-avgs">
      Weather averages during the longest ride:
      <div>Temp: <%=Trip.longest_ride.condition.mean_temp_f %></div>
      <div>Wind Speed: <%= Trip.longest_ride.condition.mean_wind_speed %></div>
      <div>Humidity: <%= Trip.longest_ride.condition.mean_humidity %></div>
      <div>Cloud Cover: <%= Trip.longest_ride.condition.cloud_cover%></div>
    </div>
    <div class="trip-weather-avgs">
      Weather averages during the shortest ride:
      <div>Temperature: <%= Trip.shortest_ride.condition.mean_temp_f %></div>
      <div>Wind Speed: <%= Trip.shortest_ride.condition.mean_wind_speed %></div>
      <div>Humidity: <%= Trip.shortest_ride.condition.mean_humidity %></div>
      <div>Cloud Cover: <%= Trip.shortest_ride.condition.cloud_cover%></div>
    </div>
  </div>

  <div class="statistics">
    <h3>More Statistics:</h3>
    <div>
      Rides per month:
      <% Trip.month_breakdown.each do |my, ride_number| %>
        <div> <%= my %>: <%= ride_number %> </div>
      <% end %>
    </div>
    <% Trip.user_subscrip_count.each do |type, number_of| %>
      <div>There are <%= number_of %> <%= type %> subcriptions</div>
    <% end %>
    <% Trip.user_subscrip_percentage.each do |type, percent| %>
       <div> Subscriptions are <%= percent %>% <%= type %></div>
    <% end %>
  </div>
</div>
