<h1>Trips Dashboard</h1>

<%= Trip.avg_ride_duration %>
<%= Trip.longest_ride %>
<%= Trip.shortest_ride %>
<%= Trip.most_starting_station %>
<%= Trip.most_ending_station %>
<%= Trip.month_breakdown %>
<%= Trip.most_ridden_bike %>
<%= Trip.least_ridden_bike %>
<%= Trip.user_subscrip_count %>
<%= Trip.user_subscrip_percentage %>
<%= Trip.most_popular_date %>
<%= Trip.least_popular_date %>
