<div class="index-header">
  Displaying Trips <%= @first_trip %>-<%= @last_trip %>
</div>

<section class='trip-index'>
<% @trips.each do |trip| %>
    <div class="index-trip">
      <%= link_to trip_path(trip) do %>
      <div><%= trip.id %></div>
      <div>Duration: <%= Time.at(trip.duration * 60).utc.strftime("%k hrs %M min") %></div>
      <div>Start Date: <%= trip.start_date.strftime("%b %d, %Y") %></div>
      <div>Starting Station: <%= trip.start_station.name %></div>
      <div>End Date: <%= trip.end_date.strftime("%b %d, %Y") %></div>
      <div>Ending Station: <%= trip.end_station.name %></div>
      <div>Bike Id: <%= trip.bike_id %></div>
      <div>Subscription Type: <%= trip.subscription %></div>
      <div>Zipcode: <%= trip.zipcode %></div>
      <%= link_to "Delete", admin_trip_path(trip), method: "delete"  if current_admin? %>
      <%= link_to "Edit", edit_admin_trip_path(trip) if current_admin? %>
      <% end %>
    </div>
<% end %>
</section>
<div class="pagination">
  <% @first, @last = @first_trip.to_i, @last_trip.to_i %>
  <section>
    <% if @first > 1 %>
      <div class="previous">
        <%= link_to "Previous Page", "/trips?first=#{@first-30}&last=#{@last-30}"%>
      </div>
    <% end %>
  </section>

  <section>
    <% if @first < 0 || @last <= Trip.count %>
      <div class="next">
      <%= link_to "Next Page", "/trips?first=#{@first+30}&last=#{@last+30}"%>
      </div>
    <% end %>
  </section>
</div>
