<html>
  <head>
  </head>
  <body>
   <h2>Trip Details</h2>
  <ul>
  <li>Duration: <%= @trip.duration %></li>
  <li>Start-date: <%= @trip.start_date %></li>
  <li>Start-station-id: :<%= @trip.start_station_id %></li>
  <li>End-date: <%= @trip.end_date %></li>
  <li>End-station-id: <%= @trip.end_station_id %></li>
  <li>Bike-id :<%= @trip.bike_id %></li>
  <li>Subscription: <%= @trip.subscription %></li>
  <li>Zipcode: <%= @trip.zipcode %></li></ul>
  <%= link_to "Delete",   admin_trip_path(@trip), method: "delete"  if current_admin? %>
  <%= link_to "Edit", edit_admin_trip_path(@trip) if current_admin? %>
  </body>
</html>
