   <h2>Trip Details</h2>
  Duration: <%= @trip.duration %>
  Start-date: <%= @trip.start_date %>
  Start-station-id: :<%= @trip.start_station_id %>
  End-date: <%= @trip.end_date %>
  End-station-id: <%= @trip.end_station_id %>
  Bike-id :<%= @trip.bike_id %>
  Subscription: <%= @trip.subscription %>
  Zipcode: <%= @trip.zipcode %>
