<div class="index-header">
  List of all stations
</div>
<div class="stations-index">
  <% @stations.each do |station| %>
    <div>
      <%= link_to station_path(station.slug) do %>
      <div class="index-station">
        <div><%= station.name %></div>
        <div><%= station.city %></div>
        <div class="station-stats">Dock Count: <%= station.dock_count %></div>
        <div class="station-stats">Installed On: <%= station.readable_install_date %></div>
        <div class="modify">
          <%= link_to "Edit", edit_admin_station_path(station.slug) if current_admin? %>
          <%= link_to "Delete", admin_station_path(station.slug), method: "delete"  if current_admin? %>
        </div>
      </div>
    <% end %>
    </div>
  <% end %>
</div>
