<h3>Station <%= @station.name %></h3>

<div class="show-station">
  Latitude: <%= @station.lat %><br>
  Longitude: <%= @station.long %><br>
  Dock Count: <%= @station.dock_count %><br>
  City: <%= @station.city %><br>
  Installation Date: <%= @station.installation_date %>
</div>
