<h3>Admin Dashboard</h3>

<ul>Order Count By Status:
  <li>Ordered: <%= Order.by_status("Ordered").count %></li>
  <li>Paid: <%= Order.by_status("Paid").count %></li>
  <li>Cancelled: <%= Order.by_status("Cancelled").count %></li>
  <li>Completed: <%= Order.by_status("Completed").count %></li>
</ul>
<%= link_to "View all accessories", admin_bike_shop_path %>

<% @orders.each do |order| %>
  <%= link_to order.id, order_path(order) %>
<% end %>
