<h3>All Accessories</h3>

<% @accessories.each do |accessory| %>
  <%= accessory.name %>
  <%= accessory.description %>
  <%= accessory.image_path %>
  <%= accessory.price %>
  <%= accessory.status %>
<% end %>
