<div class="text-box">
  <h3>Create A New Account</h3>
  <%= form_for @user, html: {:class => "form"} do |f| %>
   <div class="form-field">
     <%= f.label :username %>
     <%= f.text_field :username %>
   </div>

   <div class="form-field">
     <%= f.label :email %>
     <%= f.text_field :email %>
   </div>

   <div class="form-field">
     <%= f.label :password %>
     <%= f.password_field :password %>
   </div>

    <%= f.submit "Submit" %>
  <% end %>
</div>
