<h3>Order <%= @order.id %></h3>

<% if current_admin? %>
  Customer: <%= @order.user.username %>
  Email: <%= @order.user.email %>
<% end %>

<% if @order.status == "Completed" %>
  Date Completed: <%= @order.updated_at.strftime("%-m/%-d/%Y") %>
<% elsif @order.status == "Cancelled" %>
  Date Cancelled: <%= @order.updated_at.strftime("%-m/%-d/%Y") %>
<% end %>

Order Total: <%= number_to_currency(@order.total, unit: "$") %>
Quantity in Order: <%= @order.order_accessories.sum('quantity') %>
Status: <%= @order.status %>
Submitted: <%= @order.submitted.strftime("%l:%M %P, %-m/%-d/%Y") %>

<% @order.accessories.each do |accessory| %>
  Name: <%= link_to accessory.name, accessory_path(accessory) %>
  Quantity: <%= @order.order_accessories.find_by(accessory_id: accessory.id).quantity %>
  Subtotal: <%= number_to_currency(@order.order_accessories.find_by(accessory_id: accessory.id).quantity * accessory.price, unit: "$") %>
<% end %>
