<h3>Order <%= @order.id %></h3>

Order Total: <%= @order.total %>
Status: <%= @order.status %>
Submitted: <%= @order.submitted.strftime("%l:%M %P, %-m/%-d/%Y") %>

<% @order.accessories.each do |accessory| %>
  Name: <%= accessory.name %>
  Quantity: <%= @order.order_accessories.find_by(accessory_id: accessory.id).quantity %>
  Subtotal: <%= @order.order_accessories.find_by(accessory_id: accessory.id).quantity * accessory.price %>
<% end %>
