<div class="cart-show">
  <div class="">
    <h3>Accessories in your cart</h3>
    <h3>Cart Total: <%= number_to_currency(@cart.total_cost, unit: "$") %></h3>
  </div>

  <div class="show-cart">
    <% @accessories.each do |accessory| %>
      <%= accessory.name %><br>
      <%= accessory.description %><br>
      <%= image_tag(accessory.image_path, class: 'accessory-image') %>
      <p>Unit Price: <%= number_to_currency(accessory.price, unit: "$") %></p>
      <p>Quantity: <%= @cart.count_of(accessory.id) %></p>
      <p>Subtotal: <%= number_to_currency(@cart.count_of(accessory.id) * accessory.price, unit: "$") %></p>
      <div class='cart-buttons'>
        <%= link_to increase_quantity_path(accessory_id: accessory.id), method: :patch, class: 'increase-cart-link' do %>
          <div>
            <%= fa_icon "cart-plus", class: 'increase-cart-icon' %>
          </div>
        <% end %>
        <%= link_to decrease_quantity_path(accessory_id: accessory.id), method: :patch, class: 'decrease-cart-link' do %>
          <div>
            <%= fa_icon "cart-arrow-down", class: 'decrease-cart-icon' %>
          </div>
        <% end %>
      </div>
      <%= button_to "Remove", remove_accessory_path(accessory_id: accessory.id), method: :patch %>
    <% end %>
  </div>

  <div class="">
    <%= button_to "Checkout", orders_path %>
  </div>
</div>
