<!DOCTYPE html>
<html>
  <head>
    <title>BikeShare</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">
  </head>

  <body>
    <div class="flash" >
      <% flash.each do |name, msg| %>
        <%= content_tag :div, msg.html_safe, class: name %>
      <% end %>
    </div>
    <header class="site-banner">
      <%= link_to root_path do %>
        <div class="logo">
          <%= fa_icon "bicycle", class: 'bike-icon' %>
          <h1> Bike Share</h1>
        </div>
      <% end %>

      <div class="access-options">
        <% if current_user.nil? %>
          <%= link_to "Login", login_path %>
          <%= link_to "Create Account", new_user_path %>
        <% else %>
          <div class="logged-in-as">
            Logged in as <%= link_to "#{current_user.username}", dashboard_path %>
          </div>
          <%= link_to "Logout", logout_path, method: :delete %>
          <%= link_to cart_path do %>
            Cart: <%= @cart.total_count %>
          <% end %>
        <% end %>
      </div>
    </header>
    <nav>
      <% if current_user.nil? %>
        <%= render partial: "layouts/visitor_nav" %>
      <% elsif current_admin? %>
        <%= render partial: "layouts/admin_nav"  %>
      <% else %>
        <%= render partial: "layouts/user_nav" %>
      <% end %>
    </nav>
    <section class="application-section">
      <%= yield %>
    </section>
  </body>
</html>
