<!DOCTYPE html>
<html>
  <head>
    <title>BikeShare</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <div class="flash" >
      <% flash.each do |name, msg| %>
        <%= content_tag :div, msg, class: name %>
      <% end %>
    </div>

    <div class="cart-count">
      <%= @cart.total_count %>
    </div>

    <% unless current_user.nil? %>
      <div class="current-user-bar">
        <div class="logged-in-as">
          Logged in as <%= current_user.username %>
        </div>
        <%= link_to "Logout", logout_path, method: :delete %>
      </div>
    <% end %>

    <%= yield %>
  </body>
</html>
